body {
  background-color: aliceblue;
  margin: 0px;
}
h1 {
  font-family: "Fira Code";
  font-size: 28px;
  font-weight: 700;
}
h2 {
  text-align: center;
  font-family: "JetBrains Mono";
  font-size: 20px;
  font-weight: 500;
  color: #4b5563;
}
#name {
  padding: 1.5px 0px 1.5px 10px;
  background-color: white;
}
#contact {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 20px;
  font-size: 13px;
}
a {
  color: black;
}
#absolute-contact {
  padding: 0px 15px;
}
.projects {
  height: 220px;
  width: 220px;
  padding: 30px;
  margin: 10px;
}
#footer {
  text-align: center;
  font-size: 10px;
  position: relative;
  bottom: 0;
}
#note {
  text-align: center;

  width: 100%;
  background-color: #8fa28a;
}
li h3 {
  font-family: "Inter", "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 600;
}
#projects {
  display: flex;
  flex-wrap: wrap;
}
